{% import 'custom_macros.html' as custom_macros %}

{% extends "DeepThought/templates/base.html" %}

  {% block user_custom_stylesheet %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/iframemanager@1.3.0/dist/iframemanager.css" crossorigin="anonymous">
  {% endblock %}

  {% block analytics %}
  {% if config.extra.analytics.google %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.analytics.google }}"></script>
  <script type="text/plain" data-category="analytics" data-service="!ga">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "{{ config.extra.analytics.google }}");
  </script>
  {% endif %}
  {% endblock analytics %}

  {% block footer %}
  <footer class="footer py-4">
    <div class="content has-text-centered">
      <p>
        Made with
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-heart" style="color: red"></i>
          </span>
          <span>love by the Can Sixt inhabitants</span>
        </span>
      </p>
      <p>
        Powered by
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-power-off"></i>
          </span>
          <span><a href="https://www.getzola.org/" target="_blank" rel="noopener noreferrer">zola</a></span>
        </span>
        - Running on
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-cloud"></i>
          </span>
          <span><a href="https://www.fermyon.com/spin/" target="_blank" rel="noopener noreferrer">spin</a></span>
        </span>
      </p>
      <p>Check our <a href="/privacy-policy" class="cc-link">privacy policy</a> and <button type="button" data-cc="show-preferencesModal">Manage cookie settings</button> anytime.</p>
    </div>
  </footer>
  {% endblock %}

  {% block user_custom_js %}
  <script type="module" defer src="https://cdn.jsdelivr.net/gh/orestbida/iframemanager@1.3.0/dist/iframemanager.js"></script>
  <script type="module" defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.umd.js"></script>
  <script type="module" defer src="{{ get_url(path='js/cookieconsent.js') }}"></script>
  {% endblock %}
